<% provide :title, t(".title") %>
    <div class="jumbotron center">
        <div class="container">
            <h1>
                <%= t ".help_html" %>
            </h1>
            <p>
                <%= t ".para_html" %>
            </p>
        </div>
    </div>